*.class
*.log
*.hnir
.DS_Store

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#target binary
example/hashdraw/native/target/
draw/native/target/
.scala_dependencies
.worksheet
.bloop
.bsp
# Scala-IDE specific

# Metals specific
metals.sbt
.metals/

